body, html {
    font-size: 3vmin;
    background-color: #dcb;
    overflow: hidden;
}

a:active {
    color: #1c30cc;
}

a:visited {
    color: #8899aa;
}

a:link {
    color: #88eeaa;
}

#app {
    height: 100%;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.color-filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 65, 80, 0.5);
    z-index: 2;
}

.nav {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #333;
    color: #eee;
}

.nav > ul {
    display: flex;
    position: relative;
    flex-direction: row;
}

.nav > ul > li {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.nav > ul > li:first-child {
    margin-left: 0.5rem;
}

.nav a {
    font-size: 0.8rem;
    text-decoration: none;
}

.heading {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-image: url("../img/io_monad.png");
    color: white;
    height: 15vmin;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: black;
    box-shadow: 0 0 1vmin 0 rgba(48, 48, 48, 0.5);
}

.name {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.name-center {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 6vmin;
}

.body {
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #dcb;
    color: black;
    z-index: 1;
    padding: 0.5rem;
    overflow: hidden;
}

.body h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.body h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.body h3 {
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    font-weight: 550;
}

.body a {
    display: flex;
    position: relative;
    flex-direction: column;
}

.post-date {
    display: flex;
    font-size: 0.7rem;
}

.writing-container {
    margin: 0.5rem;
}

.pencil {
    display: flex;
    margin-right: 0.25rem;
}

.pencil:after {
    content: "\2710";
}

.body a:link {
    color: black;
    text-decoration: none;
}

.body a:visited {
    color: #521;
}

.github-link a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.code-title {
    margin-left: 0.5rem;
}

.github {
    display: flex;
    position: relative;
    height: 3vmin;
    width: 3vmin;
    background-image: url("../GitHub-Mark/PNG/GitHub-Mark-120px-plus.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.code-title {
    display: flex;
    position: relative;
}

.spa-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 300vw;
    height: 100%;
    transition: left 0.3s;
}

.home-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
}

.code-body {
    position: absolute;
    left: 100vw; 
    top: 0; 
    width: 100vw;
    height: 100%;
    overflow-y: auto;
}

.writing-body {
    position: absolute; 
    left: 200vw; 
    top: 0; 
    width: 100vw;
    height: 100%;
    overflow-y: auto;
}

.code-body p {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
}

.code-h2 {
    margin: 0.5rem;
}

.project-date {
    font-size: 0.7rem;
}

.writing-container a {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.this {
    float: right;
}
