<html>
    <head>
        <title>superheterodyne.net</title>
        <link rel='stylesheet' href='css/reset.css'></link>
        <link rel='stylesheet' href='css/index.css'></link>
    </head>
    <body>
        <div id='app'>
          {{{div}}}
        </div>
        <script src='js/index.js'></script>
        <script>
        var div = document.getElementById('child');
        var parent = div.parentNode;
        var takeoverFunction = function() {
            parent.removeEventListener('DOMSubtreeModified', takeoverFunction);
            parent.removeChild(div);
        }           
        parent.addEventListener('DOMSubtreeModified', takeoverFunction);
        var children = [].slice(div.childNodes);
        Elm.Main.embed(parent, {{{feed}}});
        </script>
    </body>
</html>
